@import 'variables.scss';

.container {
  &__navbar {
    background-color: $white;
    height: 130px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    .menu {
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;
      align-items: center;

      a {
        font-size: var(--subtitle);
        margin: 0 24px;
        padding-bottom: 6px;
        color: $gray-400;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
      }

      &__logout {
        display: block;
      }

      &__logout--text {
        display: none;
      }
    }

    .burger-button {
      display: none;

      em {
        font-size: 24px;
        color: $gray-600;
      }
    }

    .active {
      border-bottom: 4px solid $primary-color;
    }
  }

  .header {
    justify-content: space-between;
    margin: 32px 0px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $white;
  }

  &__user {
    background-color: $primary-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    padding: 0px 40px;
    user-select: none;

    h3 {
      color: $black;
      font-size: var(--subtitle);
      margin: 0px 10px;
      font-weight: 700;
    }
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 12px 16px;

    &__navbar {
      padding: 0px;
      height: 56px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

      .menu {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        background-color: $primary-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        a {
          font-size: var(--subtitle);
          margin: 15px 0;
          padding-bottom: 6px;
          color: $white;
          text-decoration: none;
        }

        &__logout {
          display: none;
        }

        &__logout--text {
          display: block;
        }
      }

      .no-visible {
        display: none;
      }

      .burger-button {
        display: block;
        cursor: pointer;
      }
    }

    .header {
      margin: 20px 0;

      display: flex;
      flex-flow: column nowrap;

      color: $white;

    }
  }
}
