<div class="container">
  <div class="container__search">
    <app-input-search></app-input-search>
  </div>
  <div class="container__table">
    <div class="table__row">
      <ng-container *ngFor="let item of listElement; index as i">
        <div class="table__element" *ngIf="i <= 1">
          <div class="element__header">
            <div class="element__header--atomic">{{ item.atomic }}</div>
            <div class="element__header--mass">
              {{ item.weight | number: "1.0-2" }}
            </div>
          </div>
          <div class="element__code">
            {{ item.symbol }}
          </div>
          <div class="element__footer">
            <div class="element__footer--name">Name</div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 3 && i <= 4">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 5 && i <= 10">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 11 && i <= 12">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 13 && i <= 18">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 19 && i <= 36">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 37 && i <= 54">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 55 && i <= 56">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 71 && i <= 86">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 87 && i <= 88">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 103 && i <= 118">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="container__table--footer">
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 57 && i <= 70">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="table__row">
      <div class="table__row--group">
        <ng-container *ngFor="let item of listElement; index as i">
          <div class="table__element" *ngIf="i >= 89 && i <= 102">
            <div class="element__header">
              <div class="element__header--atomic">{{ item.atomic }}</div>
              <div class="element__header--mass">
                {{ item.weight | number: "1.0-2" }}
              </div>
            </div>
            <div class="element__code">
              {{ item.symbol }}
            </div>
            <div class="element__footer">
              <div class="element__footer--name">Name</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
