.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__card {
    display: flex;

    app-card-average {
      width: 50%;
      margin: 10px;
    }
  }

  &__graphic {
    display: flex;
    flex-direction: row;

    .graphic {
      width: 50%;
    }
  }
}
